/* Admin.css */
.card-header {
    background-color: #007bff;
    color: white;
  }
  
  .card {
    margin-bottom: 20px;
  }
  
  .btn-primary {
    background-color: #007bff;
    border: none;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .list-group-item {
    margin-bottom: 10px;
  }
  
  .list-group-item strong {
    font-size: 1.2rem;
  }
  